<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorting Algorithms</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
</head>
<body>
    <h1>Sorting Algorithm</h1>
    
    <label for="algorithm">Choose a sorting algorithm:</label>
    <select id="algorithm">
        <option value="bubble_sort">Bubble Sort</option>
        <option value="quick_sort">Quick Sort</option>
        <option value="merge_sort">Merge Sort</option>  <!-- New option -->
        <option value="bucket_sort">Bucket Sort</option> <!-- New option -->
    </select>

    <button id="startButton">Start Sorting</button>
    <button id="shuffleButton">Shuffle</button>

    <div id="chart"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
